
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body { 
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("src/assets/Background\ texture\ for\ a\ board\ game.png") no-repeat;
  background-size: cover;
  background-position: center;
}


#root{
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template: repeat(3, 1fr)/ 33.35% 33.35% 33.30%;
}
/* animations */
@keyframes rect{
  50%{
      transform: scale(1.3);
      transform: scaleX(1.);
  }
  100% {
      transform: scale(1);
 }
}
@keyframes icon{
  50%{
      transform: scale(1.3);
  }
  100% {
      transform: scale(1);
 }
}
/* Increasing the size of the icon using the transform CSS property */
@keyframes check {

  50% {
      width: 160px;
      height: 50px;
  }
  100% {
  width:  200px;
  height: 100px;
  }

}

@keyframes beck {

  50% {
      transform: scale(1.3);
  }
  0% {
      transform: scale(1);
  }

}

@keyframes size{
  50%{
      height: 270px;
  }
  100%{
     height:  290px;
  }
}
@keyframes font{
  50%{
      font-size: 13px;
  }
  100%{
     font-size:  10px;
  }
}
@keyframes fent{
  50%{
      font-size: 16px;
  }
  100%{
     font-size:  13px;
  }
}
@keyframes scent{
  50%{
      font-size: 12px;
  }
  100%{
     font-size:  9px;
  }
}
@keyframes still{
  50%{
      transform: scale(.7692307692);
  }
  100%{
      transform: scale(1);
  }
}

/* pop-up */
.wrapper{
  grid-area: 2/2/3/3;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1.5);
  display: flex;
  overflow: hidden;
  transition: transform .5s ease, height .2s ease;
}


/* homescreen */
.wrapper.active-popup{
  transform: scale(1.3);
}

/* mode page */
.wrapper.active {
  height: 270px;
}

/* online mode */
.wrapper.activeOnline {
  height: 350px;
}
/* local mode */
.wrapper.activeLocal {
  height: 360px;
}
/* computer mode */
.wrapper.activeComputer {
  height: 260px;
}
/* select signal mode */
.wrapper.activeSelect {
  height: 420px;
  width: 370px;
}
.wrapper.activeSuspectSelect {
  height: fit-content;
  width: fit-content;
}
/* preview signal  */
.wrapper.activeSelected {
  height: 330px;
}
/* input name */
.wrapper.activeInfo {
  height: 220px;
}
.wrapper .form-box{
  width:  100%;
  padding: 40px;
}

/* hompage box */

.wrapper.active .form-box.login{
  display: none;
}
.wrapper.activeOnline .form-box.login{
  display: none;
}
.wrapper.activeLocal .form-box.login{
  display: none;
}
.wrapper.activeComputer .form-box.login{
  transform: translateX(-400px);
}
.wrapper.activeSelect .form-box.login{
  transform: translateX(-400px);
}
.wrapper.activeSelected .form-box.login{
  transform: translateX(-400px);
}
.wrapper.activeInfo .form-box.login{
  transform: translateX(-400px);
}

/* mode box */
.wrapper .form-box.register{
  position: absolute;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  transition: transform 1.5s ease;
  transform: translateX(0);
}

/* online mode box */
.wrapper .form-box.onlineTeam{
  position: absolute;
  transform: translateX(-400px);
}

.wrapper.activeOnline .form-box.onlineTeam{
  transition: transform .18s ease;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

/* local mode box */
.wrapper .form-box.localTeam{
  position: absolute;
  transform: translateY(-400px);
}

.wrapper.activeLocal .form-box.localTeam{
  transform: translateY(0);
  transition: transform .18s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  
}
/* computer mode box */
.wrapper .form-box.computerTeam{
  position: absolute;
  transform: translateY(450px);
}

.wrapper.activeComputer .form-box.computerTeam{
  transform: translateY(0);
  transition: transform .18s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

/* title  */


#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  text-align: center;
  color: #FEF2BF;
  animation: rect 3s infinite;
}
/* jackpot image */
.input-box {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 15px;
}
.input-box img{
  width: 250px;
  border-style: hidden;
  border-color: transparent;
  color: transparent;
  outline-color: transparent;
  border-radius:  60px 60px;
  animation: rect 3s infinite;
}
.btn{
  width: 40%;
  height: 34px;
  padding: 9px 9px 4px 10px;
  background: transparent;
  backdrop-filter: blur(80%);
  border: none;
  outline: brown ridge;
  border-radius: 60px;
  font-size:  1em;
  color: #fff;
  font-weight: 500;
  animation: rect 3s infinite;
}
.btn:hover {
  text-transform: uppercase;
  width: 50%;
  height: 50%;
  background: #11870452;
  outline: saddlebrown ridge;
  cursor: pointer;
}
.play{
  text-align: center;
  margin-top: 11px;
}
#start{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
}
#start:hover{
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}



/* mode select */
.mode{
  width: 46.5%;
  cursor: pointer;
  margin: 10px 0px 10px 25%;
  animation: icon 3s infinite;
}
.mode a{
  text-decoration: none;
  padding:1px 0px 5px 0px;
  border-radius: 0 0 12px 12px;
  color: #FEF2BF;
  background-color: sienna;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.mode a::after{
  content: "";
  position: absolute;
  left: -1px;
  bottom: 1px;
  width: 100%;
  height: 5px;
  background: #FEF2BF;
  transform: scaleX(0);
  transition: transform .9s;
}
.mode a:hover::after{
  transform: scaleX(1);
}
.mode #local{
  font-family: 'Press Start 2P', cursive;
  font-size: 29px;
  font-weight: bolder;
}
.mode #online{
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  font-weight: bolder;
}
.mode #computer{
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  font-weight: bolder;
}
#title{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  text-align-last: center;
}



/* online mode */
.back2select, .back2select1, .back2select2, .back2select3{
  position: absolute;
  top: 0;
  left: 0px;
  width: 55px;
  height: 45px;
  background: sienna;
  font-size: 1.2em;
  color: #FEF2BF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  outline: solid 0.5px;
  outline-color: black;
  border: 1px solid;
  border-bottom-right-radius: 20px;
  border-style: groove;
}
.back2select:hover {
  width: 15%;
  background: rgba(160, 81, 45, 0.497);
  outline: saddlebrown ridge;
  cursor: pointer;
}
.modeOnline{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-wrap: nowrap;
  margin: 11px 0 0 0;
  width: 200px;
  height: 100px;
  color: #FEF2BF;
  background-color: sienna;
  border-radius: 7px;
  animation: check 2.25s infinite;
  align-self: center;
}
.delay{
  animation: check 3s infinite;
}


.modeOnline #online2{
  font-family: 'Press Start 2P', cursive;
  font-size: 19px;
  font-weight: bolder;
  text-decoration: none;
  color: #FEF2BF;
}
.modeOnline #online3{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  font-weight: bolder;
  color: #FEF2BF;
  text-decoration: none;
}

.info p{
  font-size: 12px;
  font-family: 'Press Start 2P', sans-serif;
  color: #FEF2BF;
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.level{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  text-align-last: center;
  margin: 10px 0 3px 0;
}

#alternate{
  margin-top: 5px;
}

/* local mode */

.modeLocal{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  text-decoration: none;
  text-wrap: wrap;
  width: 200px;
  height: 100px;
  color: #FEF2BF;
  background-color: sienna;
  border-radius: 7px;
}
.back2select1:hover {
  width: 15%;
  height: 15%;
  background: rgba(160, 81, 45, 0.497);
  outline: saddlebrown ridge;
  cursor: pointer;
}
.modeLocal #local2{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color: #FEF2BF;
}
.modeLocal #local3{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight: bolder;
  color: #FEF2BF;
  text-decoration: none;
}

.info3{
  font-size: 7px;
  font-family: 'Press Start 2P', sans-serif;
}
.sub-heading{
  align-self: center;
}
.level2{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: #FEF2BF;
  animation: font 2.25s infinite;
}

#alternate1{
  font-size: 14px;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  margin-top: 7px;
}

/* computer mode */
.teams{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 350px;
}
.modeComputer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  margin: 12px 0 0 0;
  width: 150px;
  height: 45px;
  color: #FEF2BF;
  background-color: sienna;
  border-radius: 7px;
  animation: beck 2.25s infinite;
}

.delay1{
  animation: beck 3s infinite;
}
.modeComputer #computer2{
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: #FEF2BF;
  background-color: sienna;
  animation: still 3s infinite;
}
.computer2{
  border: 0px solid;
}
.modeComputer #computer3{
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  font-weight: bolder;
  color: #FEF2BF;
  background-color: sienna;
  text-decoration: none;
  animation: still 2.25s infinite;
}

.info4{
  font-size: 5px;
  font-family: 'Press Start 2P', sans-serif;
}

.level3{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 8px;
  text-align-last: center;
  margin: 9px 0 3px 0;
}

.heading{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
#player_size{
  background-color: black;
  cursor: pointer;
  padding: 2px 20px ;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 9px;
  outline: solid 0.5px;
  align-self: center;
  outline-color: black;
  border: 1px solid;
  border-style: groove;
  border-radius: 1px;
}
.player_size{
  background-color: black;
  cursor: pointer;
  padding: 2px 2px ;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 12px;
  outline: solid 0.5px;
  outline-color: black;
  border: 1px solid;
  border-style: groove;
  border-radius: 1px;
  margin: 20;
}
input[type="radio"].player_size {
  /* Change the color to gray */
  color: gray;
}


@media (max-width : 1200px) {
  .card{
      height: 90%;
      width: 8.25em;
  }
}
@media (min-width : 1200px) {
  .card{
      width: 15vh;
      height: 26.5vh;
  }
}


/* select signal mode */

/* input name */
.wrapper.activeInfo {
  height: 220px;
}
.wrapper.activeTurn {
  height: fit-content;
  width: fit-content;
}
.wrapper .form-box{
  width:  100%;
  padding: 40px;
}
/* signal select mode box */
.wrapper .form-box.signalSelect{
  position: absolute;
  transform: translateY(450px);
}

.wrapper.activeSelect .form-box.signalSelect{
  transform: translateY(0);
  transition: transform .18s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* signal selected mode box */
.wrapper .form-box.signalSelected{
  position: absolute;
  transform: translateY(470px);
}

.wrapper.activeSelected .form-box.signalSelected{
  transform: translateY(0);
  transition: transform .18s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

/* info selected mode box */
.wrapper .form-box.name{
  position: absolute;
  transform: translateY(470px);
}

.wrapper.activeInfo .form-box.name{
  transform: translateY(0);
  transition: transform .18s ease;
}
.back2select3{
  position: absolute;
  top: 0;
  left: 0px;
  width: 55px;
  height: 45px;
  background: sienna;
  font-size: 1.2em;
  color: #FEF2BF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  outline: solid 0.5px;
  outline-color: black;
  border: 1px solid;
  border-bottom-right-radius: 20px;
  border-style: groove;
}

.signal{
  color: black;
  font-weight: bolder;
}
#EmojiSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.prompt{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  text-align-last: center;
  font-size: 13px;
  margin: 10px 0 3px 0;
  animation: fent 2.25s infinite;
}
.prompt1{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  text-align: center;
  font-size: 9px;
  margin: 10px 0 3px 0;
  animation: scent 2.25s infinite;
}
.row{
  width: 17px;
  height: 17px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  outline-color: yellowgreen;
  outline-width: 0.5px;
  outline-style:outset;
  border: 20px solid #FEF2BF;
  border-style: groove;
  border-radius: 50%;
}
.row:hover{
  transform: scale(1.3);
  border-color: #fef2bf9a;
}
#result{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next{
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 10px;
}

.goback{
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  font-weight: bolder;
  color: #FEF2BF;
  text-decoration: none;
}
.tocont{
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  font-weight: bolder;
  color: #FEF2BF;
  text-decoration: none;
}
.back{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  margin: 12px 0 0 0;
  width: 70px;
  height: 45px;
  color: #FEF2BF;
  background-color: sienna;
  border-radius: 7px;
  outline: solid 0.5px;
  align-self: center;
  outline-color: black;
  border: 1px solid;
  border-style: groove;
}
.continue{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  margin: 12px 0 0 0;
  width: 135px;
  height: 45px;
  color: #FEF2BF;
  background-color: sienna;
  border-radius: 7px;
  outline: solid 0.5px;
  align-self: center;
  outline-color: black;
  border: 1px solid;
  border-style: groove;
}
.chose{
  width: 17px;
  height: 17px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transform: scale(4);
}
.chosen{
  color: sienna;
}
.sub-heading{
  align-self: center;
}
.level{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  text-align-last: center;
  margin: 10px 0 3px 0;
}

.icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: sienna;
  font-size: 2em;
  color: #FEF2BF;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 0.5px;
  outline-color: black;
  border: 1px solid;
  border-bottom-left-radius: 20px;
  border-style: groove;
  cursor: pointer;
  z-index: 1;
}

.input {
  position: relative;
  width: 95%;
  height: 50px;
  border-bottom: 4px solid #FEF2BF;
  border-bottom-style: groove;
  margin: 30px 0;
}

.input label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.2em;
  font-weight: 500;
  pointer-events: none;
  transition: .25s;
}

.input input:focus~label,
.input input:valid~label {
  top: -20px;
}

.input input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: cursive;
  color: black;
  font-weight: lighter;
  padding: 0 35px 0 5px;
}

.bton{
  position: absolute;
  left: 235px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  background-color: sienna;
  outline: solid 0.5px;
  outline-color: black;
  border: 1px solid;
  border-style: groove;
  border-radius: 1px;
}

.lives{
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.heart {
  color: grey;
  margin-left: 5px;
  animation: pulse ease infinite;
}


.score-board{
  
  display: grid;
  grid-template-columns: 40% 60%;
  /* background: transparent; */
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1.5);
  max-height: 350px;
}
.header{
  grid-area: 1/1/2/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(20px); */
}
.header > p, .lives > p{
  background: transparent;
  color: #FEF2BF !important;
  backdrop-filter: blur(20px);
  border-color: currentColor;
  font-size: 21px;
  margin-left: 5px;
}
.rteam, .r1, .r2, .r3, .r4{
  background-color: transparent !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bteam, .b1, .b2, .b3, .b4{
  background-color: transparent !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.yteam, .y1, .y2, .y3, .y4{
  background-color: transparent !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topMid{
grid-area: 1/2/2/3;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: rotate(180deg);
}
.topRight{
grid-area: 1/-2/2/-1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: rotate(225deg);
}

.deck1, .deck2, .deck3, .deck4, .deck5{
display: flex;
flex-wrap: wrap;
justify-content: center;
}



#main_section{
grid-area: 2/2/3/3;
display: flex;
align-items: center;
justify-content: center;
}

.main_deck{
  display: flex;
  flex-direction: row;
  width: 120px;
}


.rightMid{
grid-area: 2/-1/3/-2;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: rotate(-90deg);
}
.leftMid{
grid-area: 2/1/3/2;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: rotate(90deg);
}

.info2{
  font-size: 6px;
  font-family: 'Press Start 2P', sans-serif;
}
.bottomMid{
grid-area: -1/2/-2/3;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.bottomLeft{
grid-area: -1/1/-2/2;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: rotate(45deg);
}
#actions{
  grid-area: -1/-1/-2/-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -100;
}

.user{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.playerBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.playerName {
font-family: 'Press Start 2P', cursive;
font-size: 17px;
font-weight: bolder;
text-decoration: none;
background-color: #FEF2BF;
border: darkblue groove;
border-radius: 10px;
padding: 5px;
outline: 3px  groove #ffe9dda5;
color: darkblue;
}
.player-Name {
font-family: 'Press Start 2P', cursive;
font-size: 17px;
font-weight: bolder;
text-decoration: none;
background-color: #FEF2BF;
padding: 5px;
border-radius: 10px;
outline: 3px  groove #ffe9dda5;
color: #8c2923;
border: #8c2923 groove;
}
.playername {
font-family: 'Press Start 2P', cursive;
font-size: 17px;
font-weight: bolder;
text-decoration: none;
background-color: #FEF2BF;
padding: 5px;
border-radius: 10px;
outline: 3px  groove #ffe9dda5;
color: rgb(255, 185, 3);
border: rgb(255, 185, 3) groove;
}
.action{
  background: transparent;
  color: #FEF2BF;
  backdrop-filter: blur(20px);
  margin-left: 5px;
  cursor: pointer;
  padding: 2px 20px ;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  outline: 3px  groove #ffe9dda5;
  align-self: center;
  border-style: groove;
  border-radius: 17px;
  margin-bottom: 12px;
}
.action:hover{
  outline: 0px !important;
}
.layout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 245px;
}
.layout_still{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 20px;
  height: 230px;
}
.layout1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 14px;
  width: .5px;
  height: 25%;
}
.layout:hover{
  justify-content: flex-start;
  z-index: 6 !important;
  transform: rotate(0deg) !important;
}

.card{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #8c2923;
  border: grey groove;
  border-radius: 15px;
  outline: 3px  groove #ffe9dda5;
}
.down{
  font-family: 'Berkshire Swash', cursive;
  color: #FEF2BF;
  font-size: 30px;
  margin: -10px;
  padding: 0px;
  transform: rotate(360deg);
}
.up{
  font-family: 'Berkshire Swash', cursive;
  color: #FEF2BF;
  font-size: 30px;
  margin: -10px;
  padding: 0px;
  transform: rotate(-180deg);
}

.open{
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: whitesmoke;
}
.square{
  background-color: #8c2923;
  width: 60px;
  height: 60px;
}
.square-sm{
  background-color: #8c2923;
  width: 20px;
  height: 20px;
}
.diamond{
  background-color: #8c2923;
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
}
.diamond-sm{
  background-color: #8c2923;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.tr{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}
.br{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}


.cross{
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cross-top{
  background-color: #8c2923;
  width: 30px;
  height: 15px;
}
.cross-main{
  background-color: #8c2923;
  width: 60px;
  height: 30px;
}
.try{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}
.bry{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
}
.cross-sm{
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cross-top-sm{
  background-color: #8c2923;
  width: 6.66666667px;
  height: 6.666666667px;
}
.cross-main-sm{
  background-color: #8c2923;
  width: 20px;
  height: 6.666667px;
}
.circle{
  background-color: #8c2923;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.circle-sm{
  background-color: #8c2923;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.triangle{
  width: 0px;
  height: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #8c2923;
}
.triangle-sm{
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #8c2923;
}


.star {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #8c2923;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 40px;
  
  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #8c2923;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  &:after {  
    transform: rotate(35deg);
  }
}

.star-sm {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #8c2923;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 12px;
  
  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #8c2923;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  &:after {  
    transform: rotate(35deg);
  }
}
.upc{
font-family: 'Berkshire Swash', cursive;
color: #8c2923;
font-size: 30px;
margin: -10px;
transform: rotate(-180deg);
}
.downc{
font-family: 'Berkshire Swash', cursive;
color: #8c2923;
font-size: 30px;
margin: 0;
}
.camo{
  width: 60px;
  height: 60px;
}
.camo-sm{
  font-size: 11px;
  margin: 0px;
}
.sm-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
}
.val{
  font-family: 'Berkshire Swash', cursive;
  color: #8c2923;
  margin: 0;
  font-size: 35px;
}
.upt{
  transform: rotate(-180deg);
}